
AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}
DATABASE_URL={url_db}
AUTH_SECRET={auth_secrer}
NEXT_PUBLIC_STREAM_VIDEO_API_KEY
STREAM_VIDEO_API_SECRET
NODE_ENV
NEXT_PUBLIC_BASE_URL
DIRECT_DATABASE_URL